.mycontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-container{
    width: 200;
    height: 150;
    background-color: grey;
    border-radius: 25px;
}

.content-container {
    width: 50vw;
}

.content-container > img {
    width: 100%;
    height: 350px;
}

.log-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.log-container > .mycard {
    height: 380px;
}

.img-conatainer > .img-fluid {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-header {
    display: flex;
    flex-direction: column;
}

.my-user-container {
    width: 50%;
    height: 80vh;
}

#log-title {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 0;
}

#log-date {
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    margin-left: 10px;
    color: grey;
    margin-top: 0;
}

@media screen and (max-width: 480px) {

    .mycontainer {
        flex-direction: column;
    }

    .log-container {
        flex-direction: column;
    }

    .log-container > .mycard {
        width: 100%;
        height: 250px;
    }

    .mycard > .img-conatainer {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }

    .img-container > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content-container {
        padding: 0;
    }

    .my-user-container {
        padding: 0;
    }

    .user-container > img {
        margin-top: 10px;
    }
}