
.img-preview {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-circle {
    width: 150px;
    height: 150px;
    border-radius: 99px;
}

@media screen and (max-width: 480px) {
    .img-input {
        margin: 0;
    }
}