.mycontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mycontainer > .content-container {
    width: 55vw;
    margin-right: 10px;
}

.mycontainer > .map-container {
    height: 85vh;
    width: 40vw;
    border-radius: 25px;
}

.img-container {
    border-radius: 25px;
    width: 100%;
    height: 400px;
}

#description {
    font-size: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .mycontainer {
        width: 100%;
        flex-direction: column-reverse;
    }

    .mycontainer > .map-container{
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        border-radius: 0;
    }

    .mycontainer > .content-container{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .img-container {
        width: 100%;
        height: 200px;
        border-radius: 0;
    }

    .info {
        color: black;
    }
}